body{
    background-color: #232323;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.header
{
    margin: 0 auto;
    background-color: rgb(19, 163, 163);
    text-align: center;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 5px;
    padding: 10px 0;
}

#container{
    max-width: 400px;
    margin: 20px auto;
}

.square{
width: 30%;
height: 30%;
background-color: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;
border-radius: 20%;
transition: background-color .5s;
--webkit-transition:background-color .5s;  /* we wrote this because the transition property doesnt work for all browsers yet, so to make browsers friendly you should write this */
--moz-transition:background-color .5s;

}

#RGB-val{
    font-size: 1.3em;
}
span{
    color: white;
}

#UnderHeader{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    height: 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    top: 10px;
    
    
}
.NC{
    display: inline-block;
    color:rgb(19, 163, 163) ;
    height: 30px;
    border: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}
.level{

    height: 100%; /* this means it will take 100% of the containing element */
    width: 100px;
    display: flex;
    justify-content: space-between;
   
}


button{
    color: rgb(19, 163, 163);
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .5s; /* here all means that it takes all the properties on the top of it, and the .5s means that how is going to take to change */
    --webkit-transition:background-color .5s;  /* we wrote this because the transition property doesnt work for all browsers yet, so to make browsers friendly you should write this */
    --moz-transition:background-color .5s;
    outline: none;
}


.hover {
    background-color: rgb(19, 163, 163);
    color: white;
}

.selected{ /* adding this class for the selected button */
    background-color: rgb(19, 163, 163);
    color: white;
}

#message{
    display: inline-block;
    width: 20%;
}